body {
    font-family: Arial, sans-serif;
    margin: 20px;
    padding: 20px;
    background-color: #f4f4f4;
}

h1, h2 {
    text-align: center;
}

/* Estilo del formulario */
form {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: auto;
    background: white;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px #ccc;
}

input, textarea, select, button {
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
}

fieldset {
    margin-top: 10px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #aaa;
}

fieldset legend {
    font-weight: bold;
}

label {
    display: block;
    margin-top: 5px;
}

/* Botón */
button {
    background-color: green;
    color: white;
    cursor: pointer;
}

button:hover {
    background-color: darkgreen;
}

/* Estilo de la lista de juegos */
ul {
    list-style: none;
    padding: 0;
}

li {
    background: white;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    box-shadow: 0px 0px 5px #ccc;
}

/* Imágenes de los juegos */
img {
    display: block;
    margin: auto;
    border-radius: 5px;
}
