body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

h1 {
    text-align: center;
    margin-top: 20px;
}

#filtros {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    margin: 20px auto;
    max-width: 600px;
}

#filtros h2 {
    text-align: center;
    margin-bottom: 15px;
    color: #333;
}

.filtro-item {
    margin-bottom: 15px;
    display: flex;
    flex-direction: column; /* Colocamos el contenido en columna */
}

.filtro-item label {
    font-weight: bold;
    margin-bottom: 5px;
    color: #333;
}
.filtro-item input[type="checkbox"] {
    margin-right: 10px; /* Espaciado entre checkbox y texto */
    align-self: flex-start; /* Alineamos el checkbox al inicio */
}
.filtro-item input[type="text"],
.filtro-item input[type="number"] {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border-radius: 4px;
    border: 1px solid #ccc;
}
.filtro-item input[type="checkbox"] {
    width: auto;
    display: inline-block;
    margin-top: 5px;
}


.filtro-item input[type="number"] {
    width: auto;
    display: inline-block;
}

ul#lista-juegos {
    list-style-type: none;
    padding: 0;
    margin: 20px auto;
    max-width: 800px;
}

ul#lista-juegos li {
    background-color: #fff;
    margin: 10px 0;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

ul#lista-juegos img {
    max-width: 100px;
    display: block;
    margin-bottom: 10px;
}

ul#lista-juegos li strong {
    font-size: 18px;
    color: #333;
}

ul#lista-juegos li em {
    font-style: italic;
}

form {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    margin: 20px auto;
    max-width: 600px;
}

form label {
    display: block;
    font-weight: bold;
    margin-bottom: 8px;
    color: #333;
}

form input[type="text"],
form input[type="url"],
form input[type="number"],
form textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

form button {
    padding: 10px 15px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

form button:hover {
    background-color: #45a049;
}
